@{
    ViewBag.Title = "Home Page";
}

<h1 style="text-align:center; color:darkblue">Welcome To Insurance Management System</h1>

<img src="https://dollarsandsense.sg/wp-content/uploads/2016/09/Life-Insurance.png">

       <div style="text-align:center;margin:2rem;">
           <button type="submit" class="btn btn-dark btn-lg">
               @Html.ActionLink("Get Started", "LoginUser", "LoginRegister")
           </button>
       </div>

