
@{
    ViewBag.Title = "LoginUser";
}

<h2>Login Page</h2>

@using (Html.BeginForm("LoginUser", "LoginRegister"))

{
    
    <div class="col-12" style="margin-bottom:1rem">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required placeholder="Username">
    </div>
    <div class="col-12" style="margin-bottom:1rem">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
    </div>
    <div>
       <input type="submit" class="btn btn-primary btn-md btn-block" style="margin-top:1.4rem" value="Login" />
    </div>
   
}

<span style="margin:auto">
    @Html.ActionLink("New User ? SignUp", "Registration");
</span>





