
@{
    ViewBag.Title = "RolesFilterMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center">Who are you?</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal" style="margin: auto 50rem;">

        <hr />
        <input type="submit" style="display:block;margin:2rem 0; width:12rem; padding:0.8rem" class="btn btn-danger" name="button" value="Admin" />
        <input type="submit" style="display: block; margin: 2rem 0; width: 12rem; padding:0.8rem " class="btn btn-success" name="button" value="User" />
        <input type="submit" style="display: block; margin: 2rem 0; width: 12rem; padding:0.8rem " class="btn btn-primary" name="button" value="Agent" />
    </div>
        }


