
@{
    ViewBag.Title = "RolesFilterMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: antiquewhite
    }
</style>

<h2 style="text-align:center;font-weight:bold;margin-bottom:2rem;">Who are you?</h2>
@using (Html.BeginForm())
{
    

    <div class="card align-items-center" style="border-radius: 1rem;  box-shadow: 0px 7px 35px -4px black; margin:1rem 10rem;padding:2rem 0;">
            <button type="submit" style="display:block;margin:1rem 0; width:20rem; padding:1rem" class="btn btn-danger btn-lg" name="button" value="Admin">Admin &raquo;</button>
            <hr>
            <button type="submit" style="display: block; margin: 1rem 0; width: 20rem; padding:1rem " class="btn btn-success btn-lg" name="button" value="User">User &raquo;</button>
            <hr>
            <button type="submit" style="display: block; margin: 1rem 0; width: 20rem; padding:1rem " class="btn btn-primary btn-lg" name="button" value="Agent">Agent &raquo;</button>
        </div>
        }
        <button class="btn btn-primary" style="margin-top:4rem">
            @Html.ActionLink("Already have an Account ?", "LoginUser", new { area = "" }, new { @style = "font-size:14px; color:white;" })
        </button>


