
@{
    ViewBag.Title = "AccessDenied";
}

<h2 style="color:darkred">Access Denied</h2>
<h3 style="color:red">Sorry, you are not authenticated user</h3>

<div>
    @Html.ActionLink("Back to Login", "LoginUser", "LoginRegister")
</div>


