
@{
    ViewBag.Title = "Failure";
}

<h2 style="color:red;font:bold;  border-bottom:0.1rem inset royalblue;">Login Failed : User not found</h2>

<div>
    @Html.ActionLink("Back to Login", "LoginUser","LoginRegister")
</div>



