
@{
    ViewBag.Title = "AdminProfilePage";
}

<h2 style="color:royalblue;font:bold;  border-bottom:0.1rem inset cadetblue;">Admin Dashboard </h2>


<div style="margin-top:1rem">
    @Html.ActionLink("Logout", "LogoutUser", "LoginRegister")
</div>
